@page "/"

<PageTitle>ChatBot</PageTitle>

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="d-flex flex-column w-100 h-100">
        <ChatMessages @ref="chatMessagesRef" />
        <ChatInput OnMessageSent="HandleMessageSent" />
    </div>
</div>

@code {
    private ChatMessages chatMessagesRef;

    private async Task HandleMessageSent()
    {
        await chatMessagesRef.RefreshMessages();
    }
}
